# R created files
*.Rproj
*.Rproj.user
*.Rhistory
*.Ruserdata
*.history
*.RData
*.rds
/.quarto/

# Image/output files unless otherwise specified

*.docx
*.doc
*.jpg
*.gif

# Folders

_scratch/*

# Misc Knit Files
*.aux
*.gz
*.log
*.rdx
*.rdb
*.knit.md
*cache
*.results

# Other
*.httr-oauth
.DS_Store



# Specific file keep
!README.md
!/original....pdf
.Rproj.user



/.luarc.json
