.tocify .tocify-header {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 20px;
}

.navbar {
  font-size: .705rem;
  font-weight: 600;
  text-transform: uppercase
}

b, strong {
  font-weight: bold !important;
}

/* If you're using Markdown syntax for bold, ensure it's covered */
.markdown b, .markdown strong {
  font-weight: bold !important;
}